[Unit]
Description=WordpPress Hash Event API
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
Environment="LOG_LEVEL=INFO"
WorkingDirectory=/opt/wordpress-hash-event-api
ExecStart=/opt/wordpress-hash-event-api/.venv/bin/python /opt/wordpress-hash-event-api/main.py
SyslogIdentifier=wordpress-hash-event-api
RemainAfterExit=no
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
